h1 {
    color:#79BD8F;
}

#header{
    background: #FF6138;
    min-height:250px;
    border-bottom: thick solid #00A388;
}
/*id selectors have a # in front*/
#body-box{
background: #BEEB9F;
min-height:500px;
}

/*class selectors have a . in front*/
.profile-content{
    background: #FFFF9D;
    width:40%;
    text-align:center;
    position:absolute;
    top:10%;
    left:30%;
}

.profile-content img{
   width:50%;
   border-radius:50%;
}

.list{
    border: solid black 2px;
    margin:2%;
    width:40%;
    padding:1%;
    display:inline-block;
}